- name: "Deploy and configure XRay-core with ShadowSocks and VLESS-XTLS-uTLS-Reality service"
  hosts: all
  become: true
  become_method: ansible.builtin.sudo
  become_user: root

  tasks:

    - name: "Install neccessary packages"
      ansible.builtin.apt:
        pkg:
          - "qrencode"
          - "openssl"
        state: present
        update_cache: true

    - name: "Check if user exists"
      ansible.builtin.command:
        cmd: "id {{ xray_user }}"
      register: xray_user_exists
      changed_when: false
      ignore_errors: true

    - name: "Create user"
      ansible.builtin.user:
        name: "{{ xray_user }}"
        home: "/home/{{ xray_user }}"
        shell: "/bin/false"
        password: "!"
      when: xray_user_exists.rc != 0

    - name: "Get group"
      ansible.builtin.command:
        cmd: "id -gn {{ xray_user }}"
      register: xray_group
      changed_when: false

    - name: "Create service directory"
      ansible.builtin.file:
        path: "/opt/xray"
        state: directory
        mode: "0750"
        owner: "{{ xray_user }}"
        group: "{{ xray_group.stdout }}"

    - name: "Deploy XRay-core binaries"
      ansible.builtin.unarchive:
        remote_src: true
        src: "https://github.com/XTLS/Xray-core/releases/latest/download/Xray-linux-{{ xray_arch_host }}.zip"
        dest: "/opt/xray"
        owner: "{{ xray_user }}"
        group: "{{ xray_group.stdout }}"

    - name: "Set binary +x"
      ansible.builtin.file:
        path: "/opt/xray/xray"
        mode: "0755"

    - name: "Generate ShadowSocks secret"
      ansible.builtin.command:
        cmd: "openssl rand -hex 6"
      changed_when: false
      register: shadowsocks_secret

    - name: "Generate VLESS Short ID"
      ansible.builtin.command:
        cmd: "openssl rand -hex 6"
      changed_when: false
      register: vless_short_id

    - name: "Generate VLESS Client ID"
      ansible.builtin.command:
        cmd: "/opt/xray/xray uuid"
      changed_when: false
      register: vless_client_id

    - name: Generate X25519 pair
      ansible.builtin.command:
        cmd: "/opt/xray/xray x25519"
      changed_when: false
      register: "x25519"

    - name: Set X25519 pair
      ansible.builtin.set_fact:
        vless_secret_key: "{{ x25519.stdout.split('\n')[0].split(': ')[1] }}"
        vless_public_key: "{{ x25519.stdout.split('\n')[1].split(': ')[1] }}"

    - name: Deploy XRay configuration
      ansible.builtin.template:
        src: "config.json.j2"
        dest: "/opt/xray/config.json"
        owner: "{{ xray_user }}"
        group: "{{ xray_group.stdout }}"
        mode: "0640"

    - name: Deploy systemd unit
      ansible.builtin.template:
        src: "xray.service.j2"
        dest: "/etc/systemd/system/xray.service"
        owner: "root"
        group: "root"
        mode: "0644"

    - name: Enable and restart service
      ansible.builtin.systemd_service:
        daemon_reexec: true
        daemon_reload: true
        name: "xray.service"
        state: "restarted"
        enabled: true

    - name: Compose ShadowSocks link
      ansible.builtin.set_fact:
        shadowsocks_link: >-
          {{
            'ss://' ~ shadowsocks_method ~ ':' ~ shadowsocks_secret.stdout ~ '@' ~ ansible_host ~ ':' ~ shadowsocks_port ~
            '#ss@' ~ ansible_host
          }}

    - name: Debug
      ansible.builtin.debug:
        msg: "{{ shadowsocks_link }}"

    - name: Compose ShadowSocks link Base64
      ansible.builtin.set_fact:
        shadowsocks_link_b64: "{{ shadowsocks_link | b64encode }}"

    - name: Generate ShadowSocks QR
      ansible.builtin.command:
        cmd: "qrencode -t PNG -o /opt/xray/shadowsocks.png \"{{ shadowsocks_link_b64 }}\""
      changed_when: false

    - name: Set owner shadowsocks.png
      ansible.builtin.file:
        path: "/opt/xray/shadowsocks.png"
        owner: "{{ xray_user }}"
        group: "{{ xray_group.stdout }}"
        mode: "0640"

    - name: Fetch ShadowSocks QR
      ansible.builtin.fetch:
        src: "/opt/xray/shadowsocks.png"
        dest: "PNG/{{ ansible_host }}_shadowsocks.png"
        flat: true

    - name: Compose VLESS link
      ansible.builtin.set_fact:
        vless_link: >-
          {{
            'vless://' ~ vless_client_id.stdout ~ '@' ~ ansible_host ~ ':' ~ vless_port ~
            '?security=reality' ~
            '&encryption=none' ~
            '&pbk=' ~ vless_public_key ~
            '&headerType=none' ~
            '&fp=chrome' ~
            '&type=tcp' ~
            '&flow=xtls-rprx-vision' ~
            '&sni=' ~ vless_sni ~
            '&sid=' ~ vless_short_id.stdout ~
            '#reality@' ~ ansible_host
          }}

    - name: Debug
      ansible.builtin.debug:
        msg: "{{ vless_link }}"

    - name: Compose VLESS link Base64
      ansible.builtin.set_fact:
        vless_link_b64: "{{ vless_link | b64encode }}"

    - name: Generate VLESS QR
      ansible.builtin.command:
        cmd: "qrencode -t PNG -o /opt/xray/vless.png \"{{ vless_link_b64 }}\""
      changed_when: false

    - name: Set owner vless.png
      ansible.builtin.file:
        path: "/opt/xray/vless.png"
        owner: "{{ xray_user }}"
        group: "{{ xray_group.stdout }}"
        mode: "0640"

    - name: Fetch VLESS QR
      ansible.builtin.fetch:
        src: "/opt/xray/vless.png"
        dest: "PNG/{{ ansible_host }}_vless.png"
        flat: true

    - name: "Fetch config backup"
      ansible.builtin.fetch:
        src: "/opt/xray/config.json"
        dest: "JSON/{{ ansible_host }}_config.json"
        flat: true
