- name: "Update XRay-core binaries with the same configuration"
  hosts: all
  become: true
  become_method: ansible.builtin.sudo
  become_user: root

  tasks:

    - name: "Get group"
      ansible.builtin.command:
        cmd: "id -gn {{ xray_user }}"
      register: xray_group
      changed_when: false

    - name: "Deploy XRay-core binaries"
      ansible.builtin.unarchive:
        remote_src: true
        src: "https://github.com/XTLS/Xray-core/releases/latest/download/Xray-linux-{{ xray_arch_host }}.zip"
        dest: "/opt/xray"
        owner: "{{ xray_user }}"
        group: "{{ xray_group.stdout }}"

    - name: "Set binary +x"
      ansible.builtin.file:
        path: "/opt/xray/xray"
        mode: "0755"

    - name: Enable and restart service
      ansible.builtin.systemd_service:
        name: "xray.service"
        state: "restarted"
