{
    "log": {
        "loglevel": "warning",
        "access": "access.log",
        "error": "error.log",
        "dnslog": false
    },

    "dns": {
        "servers": [
            "1.1.1.1",
            "8.8.8.8"
        ]
    },

    "routing": {
        "domainStrategy": "AsIs",
        "rules": []
    },

    "inbounds": [

        {
            "tag": "shadowsocks",
            "listen": "0.0.0.0",
            "protocol": "shadowsocks",
            "port": {{ shadowsocks_port }},
            "settings": {
                "method": "{{ shadowsocks_method }}",
                "password": "{{ shadowsocks_secret }}",
                "network": "tcp,udp"
            }
        },

        {
            "tag": "vless",
            "listen": "0.0.0.0",
            "protocol": "vless",
            "port": {{ vless_port }},
            "settings": {
                "decryption": "none",
                "clients": [
                    {
                        "id": "{{ vless_client_id }}",
                        "flow": ""
                    }
                ]
            },
            "streamSettings": {
                "network": "xhttp",
                "xhttpSettings": {
                    "mode": "stream-one",
                    "host": "{{ vless_sni }}",
                    "path": "/api/v1"
                },
                "security": "reality",
                "realitySettings": {
                    "target": "{{ vless_sni }}:443",
                    "show": false,
                    "serverNames": [ "{{ vless_sni }}" ],
                    "privateKey": "{{ vless_secret_key }}",
                    "publicKey": "{{ vless_public_key }}",
                    "shortIds": [ "{{ vless_short_id }}" ],
                    "spiderX": "/redirect"
                }
            },
            "sniffing": {
                "enabled": true,
                "destOverride": ["http", "tls", "quic"]
            }
        }
    ],

    "outbounds": [
        {
            "tag": "freedom",
            "protocol": "freedom",
            "settings": {},
            "streamSettings": {}
        },
        {
            "tag": "block",
            "protocol": "blackhole",
            "settings": {},
            "streamSettings": {}
        }
    ]

}
