{
    "log": {
        "loglevel": "warning",
        "access": "access.log",
        "error": "error.log",
        "dnslog": false
    },

    "dns": {
        "servers": [
            "1.1.1.1",
            "8.8.8.8"
        ]
    },

    "routing": {
        "domainStrategy": "IPIfNonMatch",
        "rules": [
            {
                "type": "field",
                "outboundTag": "freedom",
                "network": "tcp,udp"
            }
        ]
    },

    "inbounds": [

        {
            "tag": "in-socks",
            "listen": "127.0.0.1",
            "port": 1080,
            "protocol": "socks",
            "settings": {
                "auth": "noauth",
                "udp": true,
                "ip": "127.0.0.1",
                "userLevel": 0
            },
            "sniffing": {
                "enabled": true,
                "destOverride": [ "http", "tls", "quic" ],
                "routeOnly": true
            }
        },

        {
            "tag": "in-shadowsocks",
            "listen": "0.0.0.0",
            "protocol": "shadowsocks",
            "port": {{ shadowsocks_port }},
            "settings": {
                "method": "{{ shadowsocks_method }}",
                "password": "{{ shadowsocks_secret }}",
                "network": "tcp,udp"
            },
            "sniffing": {
                "enabled": true,
                "destOverride": [ "http", "tls", "quic" ],
                "routeOnly": true
            }
        },

        {
            "tag": "in-vless",
            "listen": "0.0.0.0",
            "protocol": "vless",
            "port": {{ vless_port }},
            "settings": {
                "decryption": "none",
                "flow": "xtls-rprx-vision",
                "clients": [
                    {
                        "id": "{{ vless_client_id }}",
                        "flow": "xtls-rprx-vision"
                    }
                ]
            },
            "streamSettings": {
                "network": "raw",
                "security": "reality",
                "realitySettings": {
                    "show": false,
                    "target": "{{ vless_sni }}:443",
                    "serverNames": [ "{{ vless_sni }}" ],
                    "privateKey": "{{ vless_secret_key }}",
                    "password": "{{ vless_public_key }}",
                    "shortIds": [ "{{ vless_short_id }}" ],
                }
            },
            "sniffing": {
                "enabled": true,
                "destOverride": ["http", "tls", "quic"],
                "routeOnly": true
            }
        }
    ],

    "outbounds": [
        {
            "tag": "freedom",
            "protocol": "freedom",
            "settings": {},
            "streamSettings": {}
        },
        {
            "tag": "block",
            "protocol": "blackhole",
            "settings": {},
            "streamSettings": {}
        }
    ]

}
