- name: "Deploy and configure XRay-core with ShadowSocks and VLESS-XTLS-uTLS-Reality service"
  hosts: all
  become: true
  become_method: ansible.builtin.sudo
  become_user: root

  tasks:

    - name: "Set XRAY vars"
      ansible.builtin.set_fact:
        xray_path: "{{ (xray_path is not defined or xray_path == '') | ternary('/opt/xray', xray_path) }}"

    - name: "Stop and disable service"
      ansible.builtin.systemd_service:
        name: "xray.service"
        state: "stopped"
        enabled: false
      failed_when: false

    - name: "Remove unit file"
      ansible.builtin.file:
        name: "/etc/systemd/system/xray.service"
        state: absent

    - name: "Reload systemd units"
      ansible.builtin.systemd_service:
        daemon_reexec: true
        daemon_reload: true

    - name: "Fetch config backup"
      ansible.builtin.fetch:
        src: "{{ xray_path }}/config.json"
        dest: "../.configs/config@{{ ansible_host }}.json"
        flat: true
      failed_when: false

    - name: "Remove service directory"
      ansible.builtin.file:
        name: "{{ xray_path }}"
        state: absent
